:root {
    --main-color: #fff;
    --hover-color: #F26522;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

body {
    height: 100vh;
}

li {
    list-style: none;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.bg {
    background-image: url("img/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo:hover .logo-txt p{
    color: var(--hover-color);
    transition: color .3s ease-in;
}

.logo:hover .logo-img{
    filter: invert(55%) sepia(25%) saturate(7460%) hue-rotate(347deg) brightness(97%) contrast(96%);
    transition: filter .3s ease-in;
}

.logo-txt {
    margin-left: 8px;
}

.logo-txt1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.logo-txt2 {
    padding-top: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.contacts {
    height: 60px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: right;
}

.btn-contact:hover {
    transition: color .3s ease-in;
    color: var(--hover-color);
}

.tours-grid {
    padding-top: 17px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 54px;
}

.tours-view {
    overflow: hidden;
    position: relative;
}

.tours-img {
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 4px) no-repeat,
            linear-gradient(#ffffffff 0%, #000000 100%);
            background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 4px) no-repeat,
            linear-gradient(#ffffffff 0%, #000000 100%);
    padding: 2px;
}

.info {
    position: absolute;
    padding-top: 7px;
    padding-left: 16px;
    padding-right: 37px;
    bottom: 0;
    width: calc(100% - 2px);
    height: 60px;
    background-color: var(--hover-color);
    transform: translateY(60px);
    transition: transform .3s ease-in;
}

.info-from {
    font-size: 10px;
    line-height: 10px;
}

.info-about {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-price{
    font-size: 20px;
    line-height: 20px;
}

.info-det {
    position: relative;
    font-size: 14px;
    line-height: 14px;
}

.info-det::after {
    position: absolute;
    right: -20px;
    content: "\276F";
    font-size: 18px;
}

.info-desc {
    padding-top: 20px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.tours-grid-item:hover .info-desc{
    color: var(--hover-color);
    transition: color .3s ease-in;
}

.tours-grid-item:hover .info {
    transform: translateY(0);
}


.footer {
    padding-top: 48px;
    padding-bottom: 15px;
    min-height: 21px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}